.counter,#container{
    border:3px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:300px;
    margin:auto;
}
#container{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.counter:hover{
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}
#increment{
    font-size: large;
    border-radius: 10px;
    padding: 4px;;
    margin-top: 10px;
   width: 150px;
    background-color: green;
}
#increment:hover{
    cursor: pointer;
    background-color: rgb(18, 32, 18);
    color:white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}
#decrement{
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;;
    margin-bottom: 10px;
    text-align: center;
    width: 120px;
    background-color: red;
}
#decrement:hover{
    cursor: pointer;
    background-color: rgb(61, 14, 14);
    color:white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}
#count{
    border:2px solid black;
    border-radius: 400px;
    width: 100px;
    text-align: center;
    font-size: 30px;
}
#reset{
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;;
    margin-bottom: 10px;
    text-align: center;
    width: 120px;
    background-color: orange;
}
#reset:hover{
    cursor: pointer;
    background-color: rgb(194, 130, 21);
    color:white;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.6 s ease;
}
