@import url('https://fonts.googleapis.com/css?family=poppins"');
*{
    margin: o;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
}
body{
    margin:0;
}

section{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: url('./image\ 2.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.login-box{
    position:relative;
    width:400px;
    height:450px;
    background:transparent;
    border:2px solid rgba(255,255,255, 0.5);
    border-radius:20px;
    display:flex;
     justify-content:center;
    align-items:center;
    backdrop-filter: blur(15px);
}

h2{
    font-size:2em;
    color:#fff;
    text-align:center;
}
.input-box{
    width:310px;
    margin:30px 0;
    border-bottom:2px solid #fff;
}
.input-box .email{
position: absolute;
top:35%;
left:50px;
transform: translateY(-50%);
font-size:1em;
color:#fff;
pointer-events: none;
}
.input-box .password{
position: absolute;
top:55%;
left:50px;
transform: translateY(-50%);
font-size:1em;
color:#fff;
pointer-events: none;
}
.input-box label{
    transition: 0.25s;
}

.input-box input:focus~.password,
.input-box input:valid~.password{
    top:50%;
}

.input-box input:focus~ .email,
.input-box input:valid~ .email{
    top:30%;
}

.input-box input{
    width:100%;
    height:50px;
    background:transparent;
    border:none;
    outline:none;
    font-size:1em;
    color:#fff;
    padding: 0 8px 0 5px;

}

.icon{
    position:absolute;
    right:50px;
    color:#fff;
    font-size:1.2em;
    line-height:57px;

}

.remember-forgot{
    margin:-15px 0px 15px;
    font-size:.9em;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
.remember-me{
    margin-right:3px;
}

.remember-forgot a{
    color:#fff;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width:100%;
    height:40px;
    border:none;
    outline:none;
    background:#fff;
    border-radius: 0.375rem;
    cursor:pointer;
    font-size:1em;
    color: #000;
    font-weight:500;

}
button:hover{
      /* shadow-lg */
    box-shadow: 0 1rem 3rem rgba(68, 149, 21, 0.175);

    /* p-3 (padding: 1rem) */
    padding: 1rem;
    background-color: #f8f9faad; 
    border-radius: 0.375rem;
}

.Register-link{
    font-size:0.9em;
    color:#fff;
    text-align:center;
    margin:25px 0 10px;

}

.Register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight:600;

}

.Register-link p a:hover{
    text-decoration: underline;
}


@media (max-width:360px) {
    .login-box{
        width:100%;
        height:100vh;
        border:0;
    }
}


