body {
    font-family: Arial, sans-serif;
    background-image: url(https://plus.unsplash.com/premium_photo-1701842912961-a8727b9c6c03?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    margin: 0;
    padding: 0;
}

.container,.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: transparent;
    width:300px;
    margin: auto;
    margin-top:100px; 
    border: 1px solid #250c0c;

}
.login-page {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:0px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container ::after {
    content: "";
    clear: both;
    display: table;
}
button:hover {
    background-color: #45a049;
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
}
.container {
    background-size: 400% 400%;
    animation: borderMove 10s linear infinite;
}
@keyframes borderMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
.container2{
    display: none;
}
